body{
    margin: 0;
}

ul{
    font-size: 20px;
    list-style-type: none;
    /*padding: 0 30%;*/
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;

}

li{
    display: block;

    /*width: 30%;*/
    margin: auto;
    position: relative;
    padding: 10px 0;
    /*left: 40%;*/
    transition: background-color 0.3s ease;
}

a{
    text-decoration-line: none;
    display: block;
    color: aliceblue;
}

li:hover{
    background-color: aliceblue;
    opacity: 0.8;
}

li:hover a{
    color: black;
}


#mainNav{
    color: aliceblue;
    max-width: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    transition: max-width 0.3s ease;
    background-color: rgba(0,0,0,0.6);
    height: 2000px;
    padding-top: 300px;
    text-align: center;
}

#nav{
    background-color: black;
    border: none;
    color: beige;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 30px;
}

#nav:hover,#nav:focus{
    background-color: #f1f1f1;
    color: black;
}

